# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
addedc.fa
c1.fa
chr1.log
chr2.log
chr22.1.fa
chr22.e.gtf
chr22.fa
null.gtf
tmp
bin/dolier-clu-seq1
bin/dolier-clu-seq2
bin/dolier-freqs
bin/dolier-fvector
bin/dolier-get-column
bin/dolier-kfreqs
bin/dolier-kmer-list
bin/dolier-kmer-list-split
bin/dolier-merge-columns
bin/dolier-nof
bin/dolier-put-rc
bin/dolier-pwm-scores
bin/dolier-remove-subincl
bin/dolier-select
bin/dolier-sort-columns
bin/dolier-split-csv-by-k
bin/dolier-times
bin/dolier-clu-seq1
bin/dolier-clu-seq2
bin/dolier-freqs
bin/dolier-fvector
bin/dolier-get-column
bin/dolier-kfreqs
bin/dolier-kmer-list
bin/dolier-kmer-list-split
bin/dolier-merge-columns
bin/dolier-nof
bin/dolier-put-rc
bin/dolier-pwm-scores
bin/dolier-remove-subincl
bin/dolier-select
bin/dolier-sort-columns
bin/dolier-split-csv-by-k
bin/dolier-times
bin/dolier-times
